.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-family: 'Ubuntu', sans-serif;
    background: #9a9a9a;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

button:active{
    color: lightblue;
}

.player button{
    border: none;
    background: rgb(0, 107, 183);
    color: white;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
}


.player .waive-btn {
    border: none;
    background: rgb(219, 22, 71);
    color: white;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 400px) {
    .player img{
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        padding: 0 75px;
    }
}